*.js.map
.DS_Store
.vscode
/src/config.json
bower_components
build
coverage
dist
jest
.nvmrc
node_modules
bundle.*.js*
front_page.*.js*
verify.*.js*
public/app-index.js
public/app-resources/*.css*
public/app-resources/*.js*
public/app-resources/chunks/*.js*
public/app/*
public/front_page.js
public/index.html
public/password_reset.html
public/tos_update.html
public/verify.html
public/*.eot
*.log
*.log.*