/src/config.tsx
bower_components
build
coverage
dist
node_modules
npm-debug.log
.DS_Store
.vscode
public/app-resources/*bundle.js*
public/app-resources/bundle.js.map
public/app-resources/*styles.css*
public/app-resources/styles.css.map
public/splash-page.js
public/splash-page.js.map
public/app-index.js
public/app-index.js.map
app/*bundle.js*
*.js.map
