/src/config.json
bower_components
build
coverage
dist
jest
node_modules
npm-debug.log
.DS_Store
.vscode
public/app-resources/*.js*
public/app-resources/*.css*
public/*.js*
public/*.js*
app/*bundle.js*
*.js.map