@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic);/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
.event {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }

.event:hover {
  background-color: #ddd;
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out; }

.dark-gray {
  background-color: #434343 !important; }

.light-gray {
  background-color: #cccccc !important; }

.black {
  background-color: #000 !important; }

.brown {
  background-color: #CA8 !important; }

.green,
.success,
.saucer-success {
  background: #6a4 !important; }

.red {
  background: #e66 !important; }

.dark-red,
.error,
.saucer-error {
  background: #f00 !important; }

.dark-orange,
.warn,
.saucer-warn {
  background: #e93 !important; }

.yellow,
.busy,
.saucer-busy {
  background: #fd6 !important; }

.blue,
.info,
.saucer-info {
  background: #a4c2f4 !important; }

.dark-blue,
.fun,
.saucer-fun {
  background: #37d !important; }

.event {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }

.event:hover {
  background-color: #ddd;
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out; }

.dark-gray {
  background-color: #434343 !important; }

.light-gray {
  background-color: #cccccc !important; }

.black {
  background-color: #000 !important; }

.brown {
  background-color: #CA8 !important; }

.green,
.success,
.saucer-success {
  background: #6a4 !important; }

.red {
  background: #e66 !important; }

.dark-red,
.error,
.saucer-error {
  background: #f00 !important; }

.dark-orange,
.warn,
.saucer-warn {
  background: #e93 !important; }

.yellow,
.busy,
.saucer-busy {
  background: #fd6 !important; }

.blue,
.info,
.saucer-info {
  background: #a4c2f4 !important; }

.dark-blue,
.fun,
.saucer-fun {
  background: #37d !important; }

body,
html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400; }

p {
  font-size: 1.1rem;
  color: #434343;
  line-height: 1.4rem;
  margin-bottom: 0 !important; }

/* Styles used throughout the frontend */
.ticker-list::-webkit-scrollbar {
  display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  border-radius: 0; }

.page {
  padding-top: 2rem; }

.page > .row > * > .row {
  margin-bottom: 20px; }

@media (max-width: 830px) {
  .app {
    overflow: hidden !important; } }

.Select-control {
  border-radius: 0 !important;
  font-size: 1.2rem !important;
  color: #434343 !important;
  height: 30px !important;
  width: 100% !important;
  border: 0 !important;
  box-shadow: 0px 0px 10px #ddd !important; }

.Select-option {
  padding: 0.4rem 1rem !important; }

.Select-menu {
  padding: 0.8rem 0; }

.Select-menu-outer {
  position: relative; }
  .Select-menu-outer:after, .Select-menu-outer:before {
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }
  .Select-menu-outer:before {
    background: linear-gradient(to bottom, #fff 0%, transparent 10%); }
  .Select-menu-outer:after {
    background: linear-gradient(to top, #fff 0%, transparent 10%); }

.Select-option .saucer,
.Select-value .saucer {
  vertical-align: middle;
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem; }

.Select-clear-zone {
  display: none !important; }

.Select-value-params {
  float: right; }

body {
  min-height: 100vh; }
  body.freeze {
    height: 100% !important;
    overflow: hidden !important;
    width: 100% !important;
    position: fixed !important; }

.char-limit {
  float: right;
  font-size: 1.4rem; }

.markdown * {
  color: #fff; }

.all-content-wrapper {
  padding: 3rem 3rem 0rem 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 160rem; }

@media (max-width: 767px) {
  .all-content-wrapper {
    padding: 2.5rem 0rem 0rem 0rem; } }

.hide {
  display: none !important; }

a {
  cursor: pointer !important;
  outline: none !important; }

.input-group {
  width: 100% !important; }

.fa {
  cursor: pointer !important; }

.select-wrapper {
  position: relative; }
  .select-wrapper select {
    font-size: 1.2rem;
    color: #434343;
    height: auto;
    width: 100%;
    border: 0;
    padding: 6px 8px !important;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 0;
    -webkit-appearance: none; }
  .select-wrapper:after {
    content: "\2195";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    padding: 0.4rem 1.5rem 0 0px;
    pointer-events: none; }

.flex {
  display: flex; }

.flex1 {
  flex: 1; }

.flex2 {
  flex: 2; }

.flex3 {
  flex: 3; }

.flex4 {
  flex: 4; }

.flex5 {
  flex: 5; }

.flex6 {
  flex: 6; }

.x-small {
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 0.825rem;
  color: #434343;
  background-color: #ddd; }

.xx-small {
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.625rem;
  background-color: #434343; }

.drag-drop-area {
  border-style: dashed;
  border-width: 2px;
  border-color: #ddd;
  color: #cccccc;
  font-weight: bold;
  margin: 1rem 0;
  padding: 1.25rem;
  background: #f4f4f4;
  text-align: center;
  color: #cccccc;
  font-weight: bold; }

.hardware-widget label {
  padding: 0.5rem 0 0 0.5rem; }

.margin {
  margin-bottom: 20px; }

.page-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem; }

.padding-bottom-large {
  padding-bottom: 50px; }

.row {
  max-width: 160rem; }

body {
  background: #ddd !important; }

.padding-bottom {
  padding-bottom: 20px; }

.no-right-gutter {
  padding-right: 0; }

.no-radius {
  border-radius: 0; }

.radius {
  border-radius: 5px; }

.full-width {
  width: 100%; }

fieldset {
  border: none; }
  fieldset legend {
    background: transparent; }

.light-icon {
  color: #ddd; }

.medium-icon {
  font-size: 1.3rem; }

.sized a {
  width: 100px; }

.top-bar .name h5 {
  font-weight: bold;
  color: #434343;
  padding: 12px;
  padding-left: 15px;
  margin: 0;
  line-height: normal; }

span.prefix {
  color: #ddd;
  background-color: #434343;
  font-weight: bold;
  height: auto;
  border: none; }

.device-row:hover {
  background-color: #ddd; }

.webcam-stream {
  width: 100%; }

.webcam-stream-unavailable {
  position: relative;
  width: 100%;
  height: 100%; }

.webcam-stream-unavailable img {
  width: 100%;
  opacity: 0.20; }

.webcam-stream-unavailable text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem; }

.webcam-widget label {
  padding: 0.5rem 0 0 0.5rem; }

.clear-webcam-url-btn {
  position: absolute;
  left: 2rem;
  top: 3.2rem; }

.webcam-url-input {
  padding-left: 3.4rem; }

ul {
  padding-left: 15px; }

.step-drag-ghost-image {
  max-width: 150px; }

.step-drag-ghost-image-big {
  max-width: 400px; }

.peripherals-widget .widget-content .row,
.tools-widget .widget-content .row {
  margin-bottom: 0.8rem; }

a {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer !important;
  color: #f4f4f4; }
  a:visited {
    color: #f4f4f4; }

button,
select,
input {
  outline: none !important; }

input:disabled {
  background: rgba(0, 0, 0, 0.1) !important; }

ul {
  list-style-type: none !important;
  padding: 0; }

.d-hide {
  display: none !important; }

.align-top {
  vertical-align: top; }

.devices-pad p,
.devices-pad button {
  margin-bottom: 1rem !important; }

.block-wrapper {
  height: 3.5rem;
  margin-bottom: 1.5rem; }
  .block-wrapper button {
    box-shadow: 0 0px 10px #ddd;
    transition: all 0.2s ease-out; }
    .block-wrapper button:hover {
      transform: translateY(-1px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-out; }
      .block-wrapper button:hover .block-control {
        transition: all 0.2s ease-out;
        opacity: 1; }

.block-control {
  transition: all 0.2s ease-out;
  color: #434343;
  opacity: 0;
  float: right;
  font-size: 1.4rem !important;
  padding-left: 1rem; }

.block-header {
  height: 3.5rem;
  font-size: 1.2rem !important;
  color: #434343; }
  .block-header:hover .block-control {
    display: inherit !important; }
  .block-header.blue-block {
    background-color: #a4c2f4; }
  .block-header.green-block {
    background-color: #6a4; }
  .block-header.yellow-block {
    background-color: #fd6; }
  .block-header.orange-block {
    background-color: #fa0; }
  .block-header.purple-block {
    background-color: #C68ED2; }
  .block-header.brown-block {
    background-color: #CA8; }
  .block-header.gray-block {
    background-color: #cccccc; }
  .block-header.red-block {
    background-color: #e66; }
  .block-header.pink-block {
    background-color: #ebb; }

.block-content .blue-block {
  background-color: #cdf; }

.block-content .green-block {
  background-color: #d9ead3; }

.block-content .yellow-block {
  background-color: #ffc; }

.block-content .orange-block {
  background-color: #fc9; }

.block-content .purple-block {
  background-color: #bad; }

.block-content .brown-block {
  background-color: #e9d5c3; }

.block-content .gray-block {
  background-color: #ddd; }

.block-content .red-block {
  background-color: #e99; }

div.saucer-blue {
  background: #a4c2f4; }

div.saucer-green {
  background: #6a4; }

div.saucer-yellow {
  background: #fd6; }

div.saucer-orange {
  background: #fa0; }

div.saucer-purple {
  background: #C68ED2; }

div.saucer-brown {
  background: #CA8; }

div.saucer-gray {
  background: #cccccc; }

div.saucer-red {
  background: #e66; }

div.saucer-pink {
  background: #ebb; }

button {
  font-size: 1rem !important;
  float: right;
  text-transform: uppercase !important;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700 !important;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: 3px;
  border-bottom-width: 2px !important;
  border: none;
  margin-bottom: 0px; }
  button.left {
    float: left; }
  button.stop {
    background-color: #e66; }
  button.go {
    background-color: #6a4;
    margin-top: 24px;
    padding: .4rem .8rem;
    font-size: 1.2rem !important; }
  button.restart {
    background-color: #fa0; }
  button.green {
    background-color: #6a4;
    color: #f4f4f4;
    border-bottom: solid #371; }
    button.green:hover {
      background-color: #5b983d; }
  button.red {
    background-color: #e66;
    color: #f4f4f4;
    border-bottom: solid #f00; }
    button.red:hover {
      background-color: #eb4f4f; }
  button.gray {
    background-color: #666666;
    float: right;
    color: #f4f4f4;
    border-bottom: solid #434343; }
    button.gray:hover {
      background-color: #595959; }
  button.yellow {
    background-color: #fd6;
    float: right;
    color: #434343;
    border-bottom: solid #b90; }
    button.yellow:hover {
      background-color: #ffd233; }
  button.cyan {
    background-color: #45818e;
    float: right;
    color: #f4f4f4;
    border-bottom: solid #34626c; }
    button.cyan:hover {
      background-color: #407884; }
    button.cyan:active {
      background-color: #3d717d; }
  button.brown {
    background-color: #783f04;
    float: right;
    color: #f4f4f4;
    border-bottom: solid #472502; }
    button.brown:hover {
      background-color: #693704; }
    button.brown:active {
      background-color: #5f3203; }
  button.magenta {
    background-color: #a64d79;
    float: right;
    color: #f4f4f4;
    border-bottom: solid #833d60; }
    button.magenta:hover {
      background-color: #9c4871; }
    button.magenta:active {
      background-color: #95456c; }
  button.login, button.create-account {
    margin-top: 1.5rem;
    padding: .5rem 1.6rem;
    font-size: 1.2rem !important; }
  button.add-week {
    margin-top: 0.5rem;
    float: left; }

.button-like:active:not(.toggle-button) {
  border-bottom-width: 1px !important;
  border-top: 1px solid transparent !important;
  transform: translateY(1px); }

.button-like.toggle-button {
  padding: 0.3rem 0.10rem;
  border-radius: 10px;
  width: 5rem;
  border-bottom: none;
  position: relative;
  transition: all 0.4s ease; }
  .button-like.toggle-button.yellow:after {
    content: '';
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    background: white;
    border-radius: 50%;
    top: 0.2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: inset rgba(0, 0, 0, 0.03) 0px 0px 3px 3px; }
  .button-like.toggle-button.yellow:before {
    content: '';
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    top: 0.2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05); }
  .button-like.toggle-button.green {
    text-align: left;
    padding-left: 0.6rem; }
    .button-like.toggle-button.green:after {
      content: '';
      position: absolute;
      height: 1.6rem;
      width: 1.6rem;
      background: white;
      border-radius: 50%;
      top: 0.2rem;
      right: 0.2rem;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05); }
    .button-like.toggle-button.green:hover {
      background: #6a4; }
  .button-like.toggle-button.red {
    text-align: right !important;
    padding-right: 0.8rem; }
    .button-like.toggle-button.red:after {
      content: '';
      position: absolute;
      height: 1.6rem;
      width: 1.6rem;
      background: white;
      border-radius: 50%;
      top: 0.2rem;
      left: 0.2rem;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05); }
    .button-like.toggle-button.red:hover {
      background: #f00; }

.plus-button {
  border-radius: 50%;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  color: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  border-bottom-width: 3px !important;
  position: fixed;
  left: 0;
  right: 0; }
  .plus-button i {
    line-height: 5rem; }
  .plus-button.add-plant {
    background-color: #371;
    border-bottom: solid #204a0b; }
    .plus-button.add-plant:hover {
      background-color: #2d6a0f; }
    .plus-button.add-plant:active {
      background-color: #29610e; }
  .plus-button.add-group {
    background-color: #45818e;
    border-bottom: solid #34626c; }
    .plus-button.add-group:hover {
      background-color: #407884; }
    .plus-button.add-group:active {
      background-color: #3d717d; }
  .plus-button.add-zone {
    background-color: #783f04;
    border-bottom: solid #472502; }
    .plus-button.add-zone:hover {
      background-color: #693704; }
    .plus-button.add-zone:active {
      background-color: #5f3203; }
  .plus-button.add-event {
    background-color: #a64d79;
    border-bottom: solid #833d60; }
    .plus-button.add-event:hover {
      background-color: #9c4871; }
    .plus-button.add-event:active {
      background-color: #95456c; }

.devices-widget .updates {
  position: relative; }
  .devices-widget .updates .toggle-button {
    position: absolute;
    top: 0;
    left: 8rem; }

.events-title {
  margin-left: 1.5rem; }

.event {
  padding: 1rem; }
  .event.past {
    color: #ddd; }
    .event.past:hover {
      color: #434343; }
  .event.next {
    margin-top: -2px;
    border-top: 4px solid #6a4; }

.event-time {
  float: left;
  width: 3.5rem; }

.event-title {
  margin-left: 4rem; }

.event-date {
  text-transform: uppercase;
  padding-left: 8px;
  color: #434343;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 40px; }

.sequence-regimen-selector,
.add-event-start-date,
.add-event-start-time,
.add-event-end-date,
.add-event-end-time,
.add-evet-repeat-frequency,
.add-event-repeat-period {
  width: 100%;
  margin-bottom: 20px; }

.event-parameters {
  margin-bottom: 20px !important; }

.farm-designer-body {
  display: flex;
  position: relative; }

.farm-designer,
.farm-designer-body {
  height: 100vh;
  overflow: hidden; }

.farm-designer-map {
  width: 100%;
  padding-top: 5rem;
  overflow: scroll; }

.farm-designer-left,
.farm-designer-right {
  width: 25rem;
  min-width: 25rem; }

.panel-container {
  height: 100vh;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative; }

.object-list {
  padding-bottom: 2rem; }
  .object-list a {
    color: #434343;
    text-decoration: none; }
    .object-list a:hover {
      text-decoration: underline; }
  .object-list ul {
    padding-left: 2rem; }
  .object-list li {
    margin-bottom: 0.5rem; }

.crop-drag-info-image {
  width: 100%;
  padding: 0 auto 0 auto;
  background-color: rgba(0, 0, 0, 0.2); }

.crop-info-overlay {
  position: relative;
  bottom: 3rem;
  z-index: 3;
  background-color: #434343;
  font-style: italic;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  height: 3rem;
  width: 100%; }

@media screen and (max-width: 767px) {
  .farm-designer-right {
    display: none; }
  .farm-designer-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; } }

.panel-container.green-panel {
  background-color: #d9ead3; }

.panel-container.cyan-panel {
  background-color: #d0e0e3; }

.panel-container.brown-panel {
  background-color: #e9d5c3; }

.panel-container.magenta-panel {
  background-color: #ead1dc; }

.panel-header {
  color: #ddd; }
  .panel-header.green-panel {
    background-color: #371; }
  .panel-header.cyan-panel {
    background-color: #45818e; }
  .panel-header.brown-panel {
    background-color: #783f04; }
  .panel-header.magenta-panel {
    background-color: #a64d79; }
  .panel-header.gray-panel {
    background-color: #434343; }

.panel-tabs {
  display: inline;
  width: 100%;
  list-style: none;
  padding: 0rem;
  text-transform: uppercase;
  margin-bottom: 0px !important; }
  .panel-tabs a {
    font-size: 1.4rem;
    padding: 0 1.2rem;
    line-height: 5rem;
    height: 5rem;
    color: #ddd;
    display: block; }
    .panel-tabs a:hover {
      color: #f4f4f4;
      text-decoration: none;
      font-weight: bold; }
    .panel-tabs a:focus {
      color: #f4f4f4;
      text-decoration: none;
      font-weight: bold; }
  .panel-tabs ul {
    display: block;
    overflow-x: scroll;
    margin-bottom: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .panel-tabs ul {
        width: 100%;
        display: table;
        overflow: hidden; } }
  .panel-tabs li {
    display: table-cell;
    text-align: center; }
    .panel-tabs li .active {
      font-weight: bold;
      color: #f4f4f4;
      border-bottom: 2px solid #f4f4f4; }

.panel-content {
  padding: 1rem; }

.back-arrow {
  width: 5rem;
  float: left;
  text-align: center; }

.panel-title {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: bold; }

.edit-link {
  margin-left: 1rem;
  font-size: 1.2rem; }

html {
  height: 100%; }

.static-page {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(-135deg, #089460, #159ACC);
  background-size: 400% 400%; }
  .static-page .forgot-password {
    color: #a4c2f4;
    font-size: 1rem; }
  .static-page h1,
  .static-page h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #f4f4f4;
    text-align: center; }
  .static-page h1 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin-bottom: 10px; }
  .static-page h2 {
    margin-top: 0;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 2.2rem;
    display: none; }
  .static-page .widget-wrapper {
    box-shadow: none !important; }
  .static-page img {
    display: none; }
  .static-page * {
    outline: none; }
  .static-page .image-login-wrapper {
    display: flex; }
  .static-page .widget-header i {
    float: right;
    color: #fff;
    padding: 0.2rem 0 0;
    cursor: pointer; }
  .static-page .input-field {
    display: flex;
    width: 130%; }
    .static-page .input-field label {
      flex: 1;
      padding: 0.5rem 0 0; }
    .static-page .input-field input {
      flex: 2; }
  @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .static-page .all-content-wrapper.login-wrapper {
      padding: 1.5rem 2rem 0rem 2rem; }
    .static-page .fb-mobile-show {
      display: block; }
    .static-page h1,
    .static-page h2 {
      margin: 20px 0 20px; } }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .static-page .fb-tablet-show {
      display: block; }
    .static-page .image-wrapper {
      padding-top: 2.2rem; }
    .static-page h1 {
      font-size: 3rem;
      line-height: 0.2rem;
      margin: 50px 0 32px; } }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .static-page .fb-tablet-show:not(img) {
      display: block; }
    .static-page .all-content-wrapper {
      padding: 3rem 16rem 0rem !important; } }
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .static-page .fb-desktop-show {
      display: block; }
    .static-page .image-wrapper {
      padding: 2.6rem 0 0;
      flex: 2; }
    .static-page img {
      width: 100%; }
    .static-page .login-wrapper {
      flex: 1; }
    .static-page .image-login-wrapper {
      padding: 0 10rem !important; } }

input {
  font-size: 1.2rem;
  color: #434343;
  height: auto;
  width: 100%;
  border: 0;
  padding: 6px 8px;
  box-shadow: 0px 0px 10px #ddd; }
  input:focus {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
  input.bulk-day-selector {
    width: 10%;
    box-shadow: none;
    margin-bottom: 0.75rem !important;
    margin-top: 0.75rem !important;
    height: 1.5rem;
    vertical-align: top; }
    input.bulk-day-selector.margin-left {
      margin-left: 20%; }
  input.day {
    display: none; }

.day-selector-wrapper {
  width: 10%;
  height: 3rem;
  display: inline-block; }

.week-row {
  height: 30.5px; }

select {
  border: none;
  padding: 7px;
  background: #fff;
  width: 100%; }

label {
  color: #434343;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase; }
  label.center {
    display: block;
    text-align: center; }
  label.margin-top {
    margin-top: 2rem; }
  label.margin-left {
    margin-left: 25%; }
  label.day-label {
    position: absolute;
    text-align: center;
    width: 10%;
    margin-bottom: 0px;
    line-height: 3rem;
    border: solid #cccccc;
    background: #fff;
    border-width: 1px 0.5px; }
    label.day-label.left-most {
      border-left-width: 1px; }
    label.day-label.right-most {
      border-right-width: 1px; }
  label.week-label {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    margin-top: -1.75rem; }

input[type=checkbox]:checked + label.day-label {
  color: #f4f4f4;
  background: #434343; }

.farm-designer-map {
  background-color: #CA8; }

.drop-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.05) 2px, transparent 2px), linear-gradient(90deg, rgba(0, 0, 0, 0.05) 2px, transparent 2px);
  background-size: 10px 10px, 10px 10px, 100px 100px, 100px 100px; }

/* Desktop */
nav {
  background-color: #434343;
  color: #ddd;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0;
  margin: 3rem 0 0 0; }
  nav .mobile-menu-extras {
    display: none; }
  nav .mobile-only {
    display: none; }
  nav .page-name {
    display: none; }
  nav button:first-of-type {
    display: none; }
  nav .links .fa {
    display: none; }
  nav ul {
    display: flex;
    justify-content: space-around; }
  nav button {
    margin: 0 !important;
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem; }
  nav a {
    padding: 1.8rem 1rem;
    color: #cccccc !important; }
    nav a:hover {
      color: #fff !important;
      font-weight: bold; }
    nav a.active {
      color: #fff !important;
      border-bottom: 3px solid #fff;
      font-weight: bold; }
  nav .nav-dropdown {
    cursor: pointer;
    position: relative;
    padding: 1.4rem; }
    nav .nav-dropdown:hover .nav-dropdown-content, nav .nav-dropdown:active .nav-dropdown-content {
      opacity: 1;
      transition: all 0.4s ease-in-out;
      pointer-events: all; }
    nav .nav-dropdown .nav-dropdown-content {
      top: 4rem;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      position: absolute;
      display: block;
      background: #434343;
      padding: 0 2.6rem 2.6rem;
      right: 0;
      z-index: 1;
      opacity: 0;
      pointer-events: none; }
      nav .nav-dropdown .nav-dropdown-content:hover {
        opacity: 1;
        transition: all 0.4s ease-in-out;
        pointer-events: all; }
      nav .nav-dropdown .nav-dropdown-content i {
        padding-right: 1rem; }
      nav .nav-dropdown .nav-dropdown-content ul {
        display: flex;
        flex-direction: column;
        width: 20rem; }
        nav .nav-dropdown .nav-dropdown-content ul li {
          padding: 1rem;
          width: 22rem; }
      nav .nav-dropdown .nav-dropdown-content .version-links {
        position: absolute;
        font-size: 1rem;
        background: #000;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 0.8rem; }
        nav .nav-dropdown .nav-dropdown-content .version-links a {
          text-decoration: underline !important; }

/* Tablet */
@media only screen and (min-width: 568px) and (max-width: 830px) {
  .mobile-menu-extras {
    display: none !important; } }

/* Mobile and Tablet */
@media (max-width: 830px) {
  nav button:first-of-type {
    display: block;
    background: transparent; }
    nav button:first-of-type i {
      font-size: 2rem;
      color: #cccccc; }
      nav button:first-of-type i:hover {
        color: #fff; }
  nav .page-name {
    display: block; }
  nav .links {
    position: absolute;
    top: 0;
    background: #444;
    z-index: 2;
    padding: 3vw;
    width: 40vw;
    bottom: 0;
    left: 0;
    transform: translateX(-40vw);
    transition: all 0.4s ease-in-out; }
    nav .links ul {
      display: block; }
      nav .links ul li {
        display: block;
        padding: 1rem; }
        nav .links ul li .fa {
          display: inline-block;
          padding-right: 1rem; }
        nav .links ul li a.active {
          border-bottom: none; }
    nav .links.expanded {
      box-shadow: 4px 0 2px -2px rgba(0, 0, 0, 0.4);
      transform: translateX(0);
      transition: all 0.4s ease-in-out;
      z-index: 4; }
  nav .underlay {
    position: absolute;
    background: #000;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    transition: all 0.2s ease-in-out; }
    nav .underlay.expanded {
      z-index: 1;
      pointer-events: all;
      transition: opacity 0.4s ease-in-out;
      opacity: 0.8; } }

/* Mobile */
@media (max-width: 568px) {
  nav {
    margin: 3.2rem 0 0 0;
    padding: 1rem; }
    nav ul {
      margin-bottom: 0; }
    nav .page-name {
      display: block;
      text-transform: capitalize;
      flex: 0.8;
      font-size: 1.8rem; }
    nav .mobile-menu-extras {
      display: block; }
      nav .mobile-menu-extras li:last-of-type {
        position: absolute;
        bottom: 7rem; }
    nav .mobile-only {
      display: block; }
    nav .version-links {
      position: absolute;
      bottom: 0;
      background: #000;
      left: 0;
      right: 0;
      text-align: center;
      padding: 2rem 1rem;
      display: flex;
      font-size: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      nav .version-links a {
        text-decoration: underline !important; }
    nav .links {
      width: 60vw;
      transform: translateX(-60vw); }
    nav .status-ticker-wrapper {
      position: absolute;
      top: 0;
      padding: 0.8rem 0 0.4rem 2rem;
      margin: 0;
      left: 0;
      right: 0; }
    nav .status-ticker-message {
      font-size: 1rem; }
    nav .nav-dropdown {
      display: none; }
  .ticker-list .status-ticker-message {
    max-width: 64%; } }

.regimen-day {
  margin: 1.5rem 0; }

.regimen-event {
  background: #cccccc;
  padding: 0.7rem;
  border-radius: 3px;
  height: 3.5rem;
  margin-bottom: 1rem; }

.regimen-event-title {
  color: #434343;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase; }

.regimen-event-time {
  margin-left: 1.5rem; }

.regimen-control {
  float: right;
  margin-right: 0.7rem;
  margin-top: 0.3rem; }

input.search {
  background-color: transparent !important;
  box-shadow: none;
  width: 85%; }
  input.search::-webkit-input-placeholder {
    color: #434343; }
  input.search:-moz-placeholder {
    color: #434343; }
  input.search::-moz-placeholder {
    color: #434343; }
  input.search:-ms-input-placeholder {
    color: #434343; }

.search-underline {
  border: 1px solid #434343;
  border-top-width: 0px;
  height: 3px;
  margin-top: -5px;
  width: 100%;
  margin-bottom: 1.5rem; }

.fa-search {
  margin-left: 1rem;
  margin-right: 0.2rem; }

.ticker-list {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  overflow: scroll;
  height: 3.2rem;
  background: #000;
  transition: all 0.4s ease-in-out;
  touch-action: manipulation; }
  .ticker-list .status-ticker-wrapper:first-child {
    background: #000;
    padding: .8rem 3.4rem 0.2rem;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0; }
    .ticker-list .status-ticker-wrapper:first-child .status-ticker-message,
    .ticker-list .status-ticker-wrapper:first-child .status-ticker-created-at {
      padding: 0.2rem; }
    .ticker-list .status-ticker-wrapper:first-child .status-ticker-message *,
    .ticker-list .status-ticker-wrapper:first-child .status-ticker-created-at {
      opacity: 1 !important;
      text-transform: uppercase !important;
      font-size: 1.2rem !important;
      font-weight: bold; }
    .ticker-list .status-ticker-wrapper:first-child .saucer {
      opacity: 1;
      width: 1.8rem;
      height: 1.8rem; }
    .ticker-list .status-ticker-wrapper:first-child .markdown p {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important; }
  .ticker-list .status-ticker-wrapper:nth-child(2) {
    margin-top: 5rem; }
  .ticker-list a {
    padding: 0;
    text-decoration: underline !important; }
  .ticker-list:after {
    transition: all 0.4s ease-in-out;
    content: "";
    position: fixed;
    transform: translateY(-22rem);
    top: 0;
    left: 0;
    right: 0;
    height: 22rem;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to top, black 0%, transparent 30%); }
  .ticker-list .status-ticker-wrapper {
    display: block;
    position: relative;
    padding: 0.2rem 3.4rem;
    margin-bottom: 0.6rem;
    transition: all 0.4s ease-in-out; }
    .ticker-list .status-ticker-wrapper .status-ticker-message * {
      transition: all 0.4s ease-in-out;
      font-size: 1.3rem;
      opacity: 0;
      text-transform: none;
      font-weight: normal;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased; }
    .ticker-list .status-ticker-wrapper .saucer {
      transition: all 0.4s ease-in-out;
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: top;
      opacity: 0; }
    .ticker-list .status-ticker-wrapper .status-ticker-created-at {
      transition: all 0.4s ease-in-out;
      float: right;
      color: #fff;
      text-transform: none;
      font-weight: 300;
      opacity: 0; }
  .ticker-list.active {
    transition: all 0.4s ease-in-out;
    height: 22rem;
    box-shadow: 0px 0px 16px #000;
    background: rgba(0, 0, 0, 0.8);
    padding-bottom: 5rem; }
    .ticker-list.active .status-ticker-message * {
      transition: all 0.4s ease-in-out;
      opacity: 1 !important; }
    .ticker-list.active .saucer {
      transition: all 0.4s ease-in-out;
      opacity: 1 !important; }
    .ticker-list.active .status-ticker-created-at {
      transition: all 0.4s ease-in-out;
      opacity: 1 !important; }
    .ticker-list.active:before, .ticker-list.active:after {
      transition: all 0.4s ease-in-out;
      transform: translateY(0); }

.saucer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #6a4;
  transition: all 0.2s ease; }
  .saucer.active {
    border: 3px solid #666; }

.status-ticker-message {
  color: #f4f4f4;
  margin-bottom: 0px;
  margin-left: 15px;
  line-height: 20px;
  vertical-align: top; }

.status-ticker-message span {
  -webkit-animation: flash 1.5s ease-in;
  animation: flash 1.5s ease-in; }

@keyframes flash {
  0% {
    text-shadow: white 0px 0px 10px; }
  100% {
    text-shadow: none; } }

.step-wrapper {
  box-shadow: 0px 0px 10px #cccccc;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 3px; }
  .step-wrapper .bottom-content {
    display: flex; }
    .step-wrapper .bottom-content fieldset {
      text-align: right; }
    .step-wrapper .bottom-content .channel-options {
      flex: 1; }
    .step-wrapper .bottom-content .channel-fields {
      flex: 1; }
      .step-wrapper .bottom-content .channel-fields input,
      .step-wrapper .bottom-content .channel-fields label {
        width: auto;
        cursor: pointer;
        display: inline-block; }
      .step-wrapper .bottom-content .channel-fields input {
        margin-left: 1rem;
        box-shadow: none; }

@media (max-width: 600px) {
  .step-wrapper {
    margin-bottom: 1.5rem; } }

.step-header {
  letter-spacing: .05rem;
  padding: .75rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .step-header ::-webkit-input-placeholder {
    color: #434343;
    font-weight: bold;
    text-transform: uppercase; }
  .step-header ::-moz-placeholder {
    color: #434343;
    font-weight: bold;
    text-transform: uppercase; }
  .step-header :-ms-input-placeholder {
    color: #434343;
    font-weight: bold;
    text-transform: uppercase; }
  .step-header input {
    width: auto;
    padding: 0rem;
    background-color: transparent;
    box-shadow: none;
    color: #434343;
    font-weight: bold; }
  .step-header p {
    font-size: 1rem;
    font-style: italic; }
  .step-header.move-relative-step {
    background: #6a4; }
  .step-header.move-absolute-step {
    background: #a4c2f4; }
  .step-header.write-pin-step {
    background: #fa0; }
  .step-header.read-pin-step {
    background: #fd6; }
  .step-header.wait-step {
    background: #CA8; }
  .step-header.send-message-step {
    background: #e66; }
  .step-header.execute-step {
    background: #cccccc; }
  .step-header.if-step {
    background: #C68ED2; }

.step-control {
  margin-top: 0.3rem;
  margin-left: 2rem;
  float: right; }

.step-content {
  border-color: #ddd;
  color: #434343;
  padding: 1.25rem 1.25rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  .step-content.move-relative-step {
    background: #d9ead3; }
  .step-content.move-absolute-step {
    background: #cdf; }
  .step-content.write-pin-step {
    background: #fc9; }
  .step-content.read-pin-step {
    background: #ffc; }
  .step-content.wait-step {
    background: #e9d5c3; }
  .step-content.send-message-step {
    background: #e99; }
  .step-content.execute-step {
    background: #ddd;
    padding-bottom: 1rem; }
  .step-content.if-step {
    background: #bad; }
    .step-content.if-step h4 {
      margin: 0 0 0.4rem;
      font-style: italic; }
      .step-content.if-step h4:not(.top) {
        margin: 1.4rem 0 0.4rem; }
    .step-content.if-step input {
      height: 34px; }
  .step-content input,
  .step-content select {
    width: 100%; }

table {
  width: 100%;
  margin-bottom: 0; }

table.plain tr:nth-of-type(1n) {
  background: #f4f4f4;
  border: 0.5rem solid #f4f4f4; }

table tr td {
  padding: .5rem; }

table thead tr th {
  padding: .5rem; }

.toast-container {
  position: fixed;
  top: 10vh;
  right: 2vw;
  width: 300px;
  height: 100vh;
  z-index: 999999;
  pointer-events: none; }

.toast {
  box-shadow: 0px 1px 4px #555;
  pointer-events: all;
  padding: 1.8rem;
  cursor: pointer;
  min-height: 6rem;
  position: relative;
  margin-bottom: 1rem;
  color: #f4f4f4;
  font-size: 1.2rem;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s ease; }
  .toast:hover {
    border: 1px solid #555;
    transition: all 0.2s ease;
    color: #fff;
    box-shadow: 0px 2px 6px #555; }
  .toast.active {
    transition: all 0.4s ease;
    opacity: 1; }
  .toast.poof {
    transition: all 0.8s ease;
    opacity: 0;
    pointer-events: none; }
  .toast.yellow .toast-title {
    color: #434343; }
  .toast.yellow .toast-message {
    color: #434343; }

.toast-title {
  margin: 0 0 0.6rem;
  pointer-events: none;
  font-size: 1.6rem;
  font-weight: bold; }

.toast-message {
  pointer-events: none;
  font-size: 1.3rem; }

.toast-loader {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  transform: rotate(180deg);
  top: 1rem;
  right: 1rem; }

.toast-loader-left,
.toast-loader-right,
.toast-loader-spinner {
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%; }

.toast-loader-left {
  left: 0;
  z-index: 3;
  opacity: 1;
  animation: show-hide 7s steps(1, end);
  border-radius: 100% 0 0 100%/ 50% 0 0 50%; }

.toast-loader-right {
  right: 0;
  background: #666 !important;
  z-index: 1;
  opacity: 0;
  animation: show-hide 7s steps(1, end) reverse;
  border-radius: 0 100% 100% 0/ 0 50% 50% 0; }

.toast-loader-spinner {
  left: 0;
  background: #666 !important;
  animation: spin 7s linear;
  transform-origin: center right;
  z-index: 2;
  border-radius: 100% 0 0 100%/ 50% 0 0 50%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes show-hide {
  0% {
    opacity: 0; }
  50%,
  100% {
    opacity: 1; } }

.help {
  display: inline-block;
  float: right;
  margin-left: 2rem; }
  .help:hover .help-text, .help:active .help-text {
    display: block; }
  .help .help-text {
    position: absolute;
    z-index: 999;
    padding: 2px;
    font-style: normal;
    background-color: #434343;
    color: #f4f4f4;
    border-radius: 3px;
    padding: .5rem .8rem;
    width: 250px;
    margin-left: -125px;
    display: none; }

.colorpicker {
  margin: 0.4rem 0 0;
  position: relative;
  float: left;
  cursor: pointer; }
  .colorpicker.active .colorpicker-body {
    top: 3rem;
    opacity: 1;
    pointer-events: all; }
    .colorpicker.active .colorpicker-body:after {
      top: -1rem; }

.colorpicker-body {
  opacity: 0;
  top: 0;
  position: absolute;
  z-index: 999;
  font-style: normal;
  background-color: #434343;
  border-radius: 3px;
  padding: 6px;
  width: auto;
  right: -2.8rem;
  display: flex;
  transition: all 0.3s ease;
  pointer-events: none;
  width: 12.4rem;
  display: flex;
  flex-wrap: wrap; }
  .colorpicker-body div {
    padding: 0.4rem;
    cursor: pointer; }
  .colorpicker-body:after {
    transition: all 0.6s ease;
    position: absolute;
    content: "";
    top: 0;
    right: 2.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: -1;
    border-width: 0 10px 16px 10px;
    border-color: transparent transparent #434343 transparent; }

/* Mobile */
@media (max-width: 568px) {
  .colorpicker .colorpicker-body,
  .colorpicker.active .colorpicker-body {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    left: -14rem;
    top: -2.5rem; }
    .colorpicker .colorpicker-body:after,
    .colorpicker.active .colorpicker-body:after {
      transform: rotate(90deg);
      top: 2.8rem;
      right: -1.6rem; } }

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .tool-bay-form .select-wrapper {
    width: 12rem; }
  .tool-bay-form input[type="number"]::-webkit-inner-spin-button,
  .tool-bay-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; } }

.text-center {
  text-align: center;
  width: 100%; }

.move-amount-wrapper {
  box-shadow: 0px 0px 10px #ddd;
  height: 2.5rem;
  border-radius: 7px; }

.move-amount {
  background-color: #fff;
  border-right: 2px solid #f4f4f4;
  color: #666666;
  font-weight: bold;
  height: 2.5rem;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 20%;
  margin: 0;
  float: left; }
  .move-amount:hover {
    background-color: #999999;
    color: #f4f4f4; }
  .move-amount:nth-child(n+2) {
    border-left: 0; }
  .move-amount.leftmost {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px; }
  .move-amount.rightmost {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-right: 0px none; }
  .move-amount.move-amount-selected {
    background-color: #666666 !important;
    color: #f4f4f4; }

.jog-table {
  margin: auto;
  margin-top: 15px;
  width: auto; }

.arrow-button {
  background-color: #666666;
  border-bottom: 2px solid #434343;
  color: #f4f4f4;
  font-size: 16px !important;
  height: 40px;
  margin: 0;
  padding: 12px;
  text-align: center;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px; }
  .arrow-button:hover {
    background-color: #595959; }

input.move-input {
  font-size: 1rem;
  margin-bottom: 1.5rem; }

button.tool-toggle {
  margin-bottom: 1.5rem; }

.widget-wrapper {
  box-shadow: 0px 0px 10px #cccccc;
  margin-bottom: 3rem; }

.tools .widget-header > * + *,
.account .widget-header > * + * {
  margin-right: 1rem; }

.tools .widget,
.account .widget {
  box-shadow: 0px 0px 10px #cccccc; }

.tools .widget-body,
.account .widget-body {
  background: #f4f4f4;
  border-color: #ddd;
  color: #434343;
  padding: 1.25rem; }
  .tools .widget-body.calendar-wrapper,
  .account .widget-body.calendar-wrapper {
    padding-bottom: 20px; }
  .tools .widget-body.no-bottom-padding,
  .account .widget-body.no-bottom-padding {
    padding-bottom: 0px; }

@media (max-width: 600px) {
  .widget-wrapper {
    margin-bottom: 1.5rem; } }

.widget-header {
  background: #434343;
  letter-spacing: .05rem;
  padding: .75rem 1rem; }
  .widget-header h5 {
    color: #cccccc;
    font-size: 1.2rem;
    margin: .25rem;
    text-transform: uppercase;
    display: inline;
    margin-right: 1rem; }
  .widget-header p {
    font-size: 1rem;
    font-style: italic; }

.widget-control {
  margin-top: 0.7rem;
  margin-right: 1.5rem; }

i.widget-help-icon {
  display: inline;
  padding: 1rem 0;
  color: #666666; }
  i.widget-help-icon:hover {
    color: #cccccc;
    transition-delay: 0.1s; }

.widget-help-text {
  font-style: italic;
  color: #f4f4f4;
  line-height: 2rem;
  font-family: sans-serif;
  padding: 0 0.3rem;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.1s; }

.widget-help-icon:hover .widget-help-text,
.widget-help-icon:active .widget-help-text {
  opacity: 100;
  padding: 0.5rem 0.3rem;
  max-height: 200px;
  transition: 0.5s;
  transition-delay: 0.1s; }

.widget-content {
  background: #f4f4f4;
  border-color: #ddd;
  color: #434343;
  padding: 1.25rem; }
  .widget-content.calendar-wrapper {
    padding-bottom: 20px; }
  .widget-content.no-bottom-padding {
    padding-bottom: 0px; }
  .widget-content td {
    vertical-align: top; }
    .widget-content td button:not(.toggle-button) {
      float: left; }
  .widget-content p {
    padding-top: 0.2rem; }

/*# sourceMappingURL=styles.css.map*/