/* Universally shared styles */

@import "../colors";
a {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer !important;
    color: $off_white;
    &:visited {
        color: $off_white;
    }
}

button,
select,
input {
    outline: none !important;
}

ul {
    list-style-type: none !important;
    padding: 0;
}

.d-hide {
    display: none !important;
}