/* Universally shared styles */

a {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer !important;
    color: $off_white;
}

button {
    outline: none !important;
}

ul {
    list-style-type: none !important;
    padding: 0 !important;
}