nav {
    position: absolute;
    background: $dark-gray;
    .status-ticker-wrapper {
        position: absolute;
        top: 0;
        background: #000;
        right: 0;
        left: 0;
        width: 100vw;
        padding: 0.2rem;
        margin: 0 !important;
        text-align: center;
        z-index: 1;
        .saucer {
            width: 15px;
            height: 15px;
            margin: 0.2rem 0 0 0;
        }
        .status-ticker-message {
            font-size: 0.8rem;
        }
    }
    .links {
        box-shadow: 0;
        z-index: 2;
        position: absolute;
        background: $dark-gray;
        padding: 2rem;
        width: 50vw;
        top: 0;
        bottom: 0;
        height: 100vh;
        transform: translateX(-50vw);
        &.expanded {
            transform: translateX(0);
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .underlay.expanded {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }
}