/* Styles used throughout the frontend */

body {
    min-height: 100vh;
    &.freeze {
        height: 100vh;
        overflow: hidden;
    }
}

.markdown * {
    color: #fff;
}

.all-content-wrapper {
    padding: 3rem 3rem 0rem 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 160rem;
}

.page:not(.all-content-wrapper) {
    padding: 3rem 0 0;
    display: flex;
}

@media (max-width: 767px) {
    .all-content-wrapper {
        padding: 2.5rem 0rem 0rem 0rem;
    }
}

.app {
    overflow: hidden !important;
}

.hide {
    display: none !important;
}

a {
    cursor: pointer !important;
    outline: none !important;
}

.input-group {
    width: 100% !important;
}

.fa {
    cursor: pointer !important;
}

.select-wrapper {
    position: relative;
    select {
        font-size: 1.2rem;
        color: #434343;
        height: auto;
        width: 100%;
        border: 0;
        padding: 6px 8px !important;
        box-shadow: 0px 0px 10px #ddd;
        border-radius: 0;
        -webkit-appearance: none;
    }
    &:after {
        content: "\2195";
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 0;
        right: 0;
        padding: 0.4rem 1.5rem 0 0px;
        pointer-events: none
    }
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.flex6 {
    flex: 6;
}

.x-small {
    padding-left: 0.95rem;
    padding-right: 0.95rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    font-size: 0.825rem;
    color: $dark_gray;
    background-color: $light_gray;
}

.xx-small {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.625rem;
    background-color: $dark_gray;
}

.drag-drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: $light_gray;
    color: $gray;
    font-weight: bold;
    margin: 1rem 0;
    padding: 1.25rem;
    background: $off_white;
    text-align: center;
    color: $gray;
    font-weight: bold;
}

.hardware-widget label {
    padding: 0.5rem 0 0 0.5rem;
}

.margin {
    margin-bottom: 20px;
}

.page-title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.padding-bottom-large {
    padding-bottom: 50px;
}

.row {
    max-width: 160rem;
}

body {
    background: $light_gray!important;
}

.padding-bottom {
    padding-bottom: 20px;
}

.no-right-gutter {
    padding-right: 0;
}

.no-radius {
    border-radius: 0;
}

.radius {
    border-radius: 5px;
}

.full-width {
    width: 100%;
}

fieldset {
    border: none;
    legend {
        background: transparent;
    }
}

.light-icon {
    color: $light_gray;
}

.medium-icon {
    font-size: 1.3rem;
}

.sized a {
    width: 100px;
}

.top-bar .name h5 {
    font-weight: bold;
    color: $dark_gray;
    padding: 12px;
    padding-left: 15px;
    margin: 0;
    line-height: normal;
}

span.prefix {
    color: $light_gray;
    background-color: $dark_gray;
    font-weight: bold;
    height: auto;
    border: none;
}

.device-row:hover {
    background-color: $light_gray;
}

.webcam-stream {
    width: 100%;
}

.webcam-stream-unavailable {
    position: relative;
    width: 100%;
    height: 100%;
}

.webcam-stream-unavailable img {
    width: 100%;
    opacity: 0.20;
}

.webcam-stream-unavailable text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
}

.webcam-widget label {
    padding: 0.5rem 0 0 0.5rem;
}

.clear-webcam-url-btn {
    position: absolute;
    left: 2rem;
    top: 3.2rem;
}

.webcam-url-input {
    padding-left: 3.4rem;
}

ul {
    padding-left: 15px;
}

.step-drag-ghost-image {
    max-width: 150px;
}

.step-drag-ghost-image-big {
    max-width: 400px;
}

.peripherals-widget,
.tools-widget {
    .widget-content .row {
        margin-bottom: 0.8rem;
    }
}

a {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer !important;
    color: $off_white;
    &:visited {
        color: $off_white;
    }
}

button,
select,
input {
    outline: none !important;
}

ul {
    list-style-type: none !important;
    padding: 0;
}

.d-hide {
    display: none !important;
}