.widget-wrapper.weed-detector-widget {
    .widget-body {
        background: $off-white;
        padding: 0 15px;
        margin-bottom: 5rem;
        position: relative;
    }
    .rc-slider-track,
    .rc-slider-handle {
        background: $dark-red;
        border: none;
    }
    .widget-header button {
        margin-left: 1rem;
    }
    .temp-plant {
        max-width: 100%;
        margin: 2rem 0;
        padding: 0 1rem;
    }
    .weed-detector-meta {
        position: absolute;
        left: 15px;
        right: 15px;
        background: $dark-gray;
        padding: 0.3rem 2rem 0;
        label {
            font-weight: normal;
            margin-right: 1rem;
            color: $white;
        }
        span {
            font-weight: bold;
            color: $white;
        }
        .time {
            float: left;
        }
        .location {
            float: right;
        }
    }
    .chrome-picker {
        width: 100% !important;
        margin: 2rem 0 0 !important;
        div:nth-of-type(2) {
            display: none;
        }
    }
}