// Styles for BUTTONS

@import 'colors';
@import 'fonts';

button {
  font-size: 1rem!important;
  float: right;
  text-transform: uppercase!important;
  text-align: center;
  font-family: $roboto;
  font-weight: 700!important;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: 3px;
  border-bottom-width: 2px!important;
  border: none;
  margin-bottom: 0px;
  &.left {
    float: left;
  }
  &.stop {
    background-color: $red;
  }
  &.go {
    background-color: $green;
  }
  &.restart {
    background-color: $orange;
  }
  &.green {
    background-color: $green;
    color: $off_white;
    border-bottom: solid $dark_green;
    &:hover {
      background-color: darken($green, 5%);
    }
  }
  &.red {
    background-color: $red;
    color: $off_white;
    border-bottom: solid $dark_red;
    &:hover {
      background-color: darken($red, 5%);
    }
  }
  &.gray {
    background-color: $medium_gray;
    float: right;
    color: $off_white;
    border-bottom: solid $dark_gray;
    &:hover {
      background-color: darken($medium_gray, 5%);
    }
  }
  &.yellow {
    background-color: $yellow;
    float: right;
    color: $dark_gray;
    border-bottom: solid $gold;
    &:hover {
      background-color: darken($yellow, 10%);
    }
  }
}

.button-like {
  &:active {
    border-bottom-width: 1px!important;
    border-top: 1px solid transparent!important;
    transform: translateY(1px);
  }
}
