// Styles for BUTTONS

@import 'colors';
@import 'fonts';

button {
  font-size: .8rem;
  text-transform: uppercase;
  text-align: center;
  font-family: $roboto;
  font-weight: 700;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: .8rem;
  padding-right: .8rem;
  border-radius: 3px;
  border-bottom-width: 2px!important;
  border: none;
  margin-bottom: 0px;
  &.stop {
    background-color: $red;
  }
  &.go {
    background-color: $green;
  }
  &.restart {
    background-color: $orange;
  }
  &.move-amount {
    background-color: $white;
    border-right: 2px solid $off-white;
    box-shadow: 0px 0px 10px $light_gray;
    color: $medium_gray;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 25%;
    margin: 0;
    float: left;
        transition: 0s;
    &:hover {
      background-color: $medium_gray;
      color: $off_white;
    }
    &:nth-child(n+2) {
      border-left: 0;
    }
    &.leftmost {
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
    }
    &.rightmost {
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
      border-right: 0px none;
    }
  }
  &.move-amount-selected {
    background-color: $medium_gray;
    color: $off_white;
  }
  &.green {
    @extend %greenish;
  }
  &.red {
    @extend %reddish;
  }
  &.gray {
    background-color: $dark_gray;
    float: right;
    color: $off_white;
    font-weight: bold;
    border-bottom: 3px solid $dark_gray;
  }
  &.yellow {
    background-color: $yellow;
    float: right;
    color: $dark_gray;
    font-weight: bold;
    border-bottom: 3px solid $gold;
  }
}

.button-like:active {
  border-bottom-width: 1px!important;
  transform: translateY(1px);
  margin-top: 2px;
}
