// Styles for the CALENDAR Widget

@import 'colors';

.event {
  padding: 1rem;
  @extend %extend_1;
  &.past {
    color: $light_gray;
    &:hover {
      color: $dark_gray;
    }
  }
  &.next {
    margin-top: -2px;
    border-top: 4px solid $green;
  }
  &:hover {
    @extend %extend_2;
  }
}

.row {
  &.date-flipper {
    margin-bottom: 20px;
  }
}

.event-time {
  float: left;
  width: 3.5rem;
}

.event-icon {
  float: left;
  width: 2.5rem;
  line-height: 2rem!important;
}

.event-title {
  margin-left: 6rem;
}

.picker__day {
  text-align: center;
}

.picker__weekday {
  text-align: center;
}

h6.date {
  text-align: center;
  text-transform: uppercase;
  color: $dark_gray;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 50px;
}
