.devices-widget {
    .updates {
        position: relative;
        .toggle-button {
            position: absolute;
            top: 0;
            left: 8rem;
        }
    }
}

.farmware-widget {
    fieldset {
        margin-bottom: 1rem;
    }
    button {
        float: left;
        margin-right: 0.8rem;
        margin-top: 0.6rem;
    }
}