// Styles used throughout the frontend

@import 'colors';

.all-content-wrapper {
  padding: 3rem 3rem 0rem 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 160rem;
}

@media (max-width: 767px) {
  .all-content-wrapper {
    padding: 1.5rem 0rem 0rem 0rem;
  }
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex6 {
  flex: 6;
}

.x-small {
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 0.825rem;
  color: $dark_gray;
  background-color: $light_gray;
}
.xx-small {
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.625rem;
  background-color: $dark_gray;
}

.drag-drop-area {
  border-style: dashed;
  border-width: 2px;
  border-color: $light_gray;
  color: $gray;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 1.25rem;
  background: $off_white;
  text-align: center;
  color: $gray;
  font-weight: bold;
}

.margin {
  margin-bottom: 20px;
}
.page-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
label {
  color: $dark_gray;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  &.center {
    display: block;
    text-align: center;
  }
}

.padding-bottom-large {
  padding-bottom: 50px;
}

.row {
  max-width: 160rem;
}

body {
  background: $light_gray!important;
}
.drop-shadow {
  box-shadow: 0 4px 10px $translucent;
}

* {
  outline: none;
}
.padding-bottom {
  padding-bottom: 20px;
}
.no-right-gutter {
  padding-right: 0;
}
.no-radius {
    border-radius: 0;
}
.radius {
    border-radius: 5px;
}
.full-width {
  width: 100%;
}
fieldset {
  border: none;
  legend {
    background: transparent;
  }
}
.light-icon {
  color: $light_gray;
}
.medium-icon {
  font-size: 1.3rem;
}

.sized a {
  width: 100px;
}
.top-bar .name h5 {
  font-weight: bold;
  color: $dark_gray;
  padding: 12px;
  padding-left: 15px;
  margin: 0;
  line-height: normal;
}
i.fa {
  &.fa-bars.right {
    line-height: inherit;
  }
  &.fa-pencil.right {
    line-height: inherit;
  }
}
span.prefix {
  color: $light_gray;
  background-color: $dark_gray;
  font-weight: bold;
  height: auto;
  border: none;
}

.device-row:hover {
  background-color: $light_gray;
}
