.farm-designer-panels {
    width: 30rem;
    position: fixed;
    top: 8.9rem;
    bottom: 0;
    .panel-container {
        width: 100%;
        height: 88vh;
        overflow: hidden;
        font-size: 1.6rem;
        label {
            font-size: 1.3rem;
            margin-top: 2rem;
        }
    }
}

.panel-container {
    &.green-panel {
        background-color: $light_green;
    }
    &.cyan-panel {
        background-color: $light_cyan;
    }
    &.brown-panel {
        background-color: $light_brown;
    }
    &.magenta-panel {
        background-color: $light_magenta;
    }
}

.panel-header {
    color: $light_gray;
    &.green-panel {
        background-color: $dark_green;
    }
    &.cyan-panel {
        background-color: $cyan;
    }
    &.brown-panel {
        background-color: $dark_brown;
    }
    &.magenta-panel {
        background-color: $magenta;
    }
    &.gray-panel {
        background-color: $dark_gray;
    }
}

.panel-tabs {
    display: flex;
    a {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 5rem;
        height: 5rem;
        color: $light_gray;
        display: block;
        &.active {
            border-bottom: 2px solid $white;
            font-weight: bold;
            color: $white;
        }
        &:hover {
            color: $off_white;
            text-decoration: none;
            font-weight: bold;
        }
        &:focus {
            color: $off_white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.panel-title {
    height: 50px;
    padding-top: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    .back-arrow {
        font-size: 1.8rem;
        color: $off_white;
        margin-right: 1rem;
        &:hover {
            color: $white;
        }
    }
    .title {
        color: white;
        font-size: 1.8rem;
        margin-top: 0.4rem;
        display: inline-block;
    }
    .right-button {
        float: right;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: 1px solid;
        padding: 0.4rem 1rem;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 6px;
        color: $off_white;
        &:hover {
            color: $white;
        }
    }
}

.panel-content {
    padding: 1rem;
}

.add-farm-event-panel button,
.edit-farm-event-panel button {
    margin-top: 1rem;
    margin-left: 1rem;
}