.farm-designer {
    height: 86.8vh;
    overflow-y: hidden;
    position: relative;
}

.farm-designer-map {
    background-color: #CA8;
    min-width: 100%;
    display: inline-block;
    padding: 2rem 2rem 2rem 31.8rem;
    height: 100%;
    overflow: scroll;
}

.drop-area {
    // Light grid lines every 10px, heavier grid every 100px
    background-image: linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.05) 2px, transparent 2px), linear-gradient(90deg, rgba(0, 0, 0, 0.05) 2px, transparent 2px);
    background-size: 10px 10px, 10px 10px, 100px 100px, 100px 100px;
    overflow: scroll;
    height: 1502px;
    max-height: 1502px;
    width: 3002px;
    max-width: 3002px;
    svg {
        width: 100%;
        height: 99%;
    }
}

.crop-drag-info-image {
    width: 100%;
    background-color: $translucent;
    height: 12rem;
}

.plant-catalog-image {
    width: 100%;
    background-color: $translucent;
    height: 12rem;
}

.crop-search-result-wrapper {
    .plant-catalog-tile {
        position: relative;
        cursor: pointer;
        &:nth-child(4n),
        &:nth-child(4n-1) {
            margin-bottom: 2rem;
        }
        &:nth-child(4n-2),
        &:nth-child(4n-3) {
            margin-bottom: 2rem;
        }
        label {
            left: 15px;
            right: 15px;
            margin-top: 0 !important;
            padding: 0.4rem 0.6rem 0.2rem;
            bottom: -5px;
            background: rgba(0, 0, 0, 0.5);
            color: $white;
            position: absolute;
            font-size: 1.2rem !important;
        }
    }
}

.crop-info-overlay {
    position: relative;
    bottom: 3rem;
    z-index: 3;
    background-color: $dark_gray;
    font-style: italic;
    color: $off_white;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    height: 3rem;
    width: 100%;
}

.farm-events {
    margin-top: 5rem;
    .farm-event {
        &.has-passed {
            color: $gray;
        }
        &:hover {
            .edit-icon {
                display: block;
            }
        }
        &:before {
            content: "";
            position: absolute;
            left: 28%;
            top: 0;
            bottom: 0;
            width: 1px;
            background: $gray;
        }
        position: relative;
        font-size: 1.2rem;
        padding: 0.8rem;
        background: white;
        border-bottom: 1px solid $gray;
    }
    .edit-icon {
        display: none;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: $gray;
        &:hover {
            color: $dark_gray;
        }
    }
}

.farm-event-wrapper {
    margin-bottom: 1rem;
    .farm-event-date-month {
        font-size: 1.2rem;
        text-align: center;
    }
    .farm-event-date-day {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}

.thin-search-wrapper {
    position: relative;
    border-bottom: 1px solid #000;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #000;
        width: 1px;
        height: 10px;
        bottom: 0;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
    .fa-search {
        position: absolute;
        top: 0.8rem;
        left: 1rem;
    }
    input {
        background: transparent;
        box-shadow: none !important;
        padding-left: 3rem !important;
        font-size: 1.4rem !important;
        &:active,
        &:focus {
            background: transparent !important;
        }
        &::-webkit-input-placeholder {
            color: #000;
        }
    }
    .select-results-container {
        top: 4rem;
        margin-bottom: 12rem;
    }
    .select-result {
        padding: 0;
        margin-bottom: 1rem;
        background: transparent;
        border-bottom: none;
        transition: all 0.4s ease;
        &:last-child {
            margin-bottom: 14rem;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease;
        }
    }
    .plant-search-item {
        cursor: pointer;
        height: 4rem;
        margin-bottom: 1rem;
        &:hover {
            background: darken($light_green, 10%);
            transition: background 0.2s ease;
        }
        img {
            height: 4rem;
            width: 4rem;
            margin: 0 1rem 0 0;
        }
    }
    .plant-search-item-age {
        text-align: right;
        font-size: 1rem;
        padding-top: 1.4rem;
        padding-right: 1rem;
        float: right;
    }
    .plant-search-item-name {
        margin-left: 1rem;
    }
}

@media(min-width: 568px) {
    .event-time {
        padding-left: 0;
    }
}

.plant-spread {
    fill: $green;
    opacity: 0.2;
    pointer-events: none;
}

.plant-link-wrapper {
    &.is-chosen-true.is-editing-true {
        cursor: -webkit-grab !important;
        &:active {
            cursor: -webkit-grabbing !important;
        }
    }
    image {
        transform: scale(1, 1);
    }
    &.eligible,
    &:hover {
        image {
            transform-origin: center;
            transform: scale(1.3, 1.3);
            &.is-chosen-true {
                transform: scale(1, 1);
            }
        }
    }
}

.plant-indicator.is-chosen-true {
    border: 3px dashed $green;
    animation: pulse-and-rotate 4s infinite linear;
    transform-origin: center
}

.garden-map-legend {
    position: fixed;
    top: 11rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    .plus-button {
        position: initial;
        margin: 0 auto;
        &:first-child {
            margin-bottom: 1rem;
        }
    }
    .map-layers {
        background: $light_green;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        >*+* {
            margin-top: 1rem;
        }
        button {
            height: 1.8rem;
        }
    }
    label {
        display: flex;
        flex-direction: column;
    }
}

@keyframes pulse-and-rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}