/* Styles used throughout the frontend */

.ticker-list::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
    border-radius: 0;
}

@media (max-width: 830px) {
    .app {
        overflow: hidden !important;
    }
}

body {
    &.freeze {
        height: 100% !important;
        overflow: hidden !important;
        width: 100% !important;
        position: fixed !important;
    }
}

.char-limit {
    float: right;
    font-size: 1.4rem;
}

.markdown * {
    color: #fff;
}

.all-content-wrapper {
    padding: 3rem 3rem 0rem 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 160rem;
    animation: page-transition 0.2s ease-in-out;
}

@media (max-width: 767px) {
    .all-content-wrapper {
        padding: 2.5rem 0rem 0rem 0rem;
    }
}

.hide {
    display: none !important;
}

a {
    cursor: pointer !important;
    outline: none !important;
}


/* Rick wuz here. */

.input-group {
    a {
        color: #434343;
        &:visited {
            color: #434343;
        }
    }
    input[type=checkbox] {
        box-shadow: none;
    }
    width: 100% !important;
}

.fa {
    cursor: pointer !important;
}

.select-search-container {
    &:after {
        content: "\25BE";
        position: absolute;
        color: $dark_gray;
        font-size: 2rem;
        right: 1rem;
        top: 0.2rem;
        line-height: initial;
    }
}

.thin-search-wrapper {
    .select-search-container:after {
        content: "";
    }
}

.xx-small {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.625rem;
    background-color: $dark_gray;
}

.drag-drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: $light_gray;
    color: $gray;
    font-weight: bold;
    margin: 1rem 0;
    padding: 1.25rem;
    background: $off_white;
    text-align: center;
    color: $gray;
    font-weight: bold;
}

.hardware-widget label {
    padding: 0.5rem 0 0 0.5rem;
}

.margin {
    margin-bottom: 20px;
}

.row {
    max-width: 160rem;
}

body {
    background: $light_gray!important;
}

.no-radius {
    border-radius: 0;
}

.radius {
    border-radius: 5px;
}

.full-width {
    width: 100%;
}

fieldset {
    border: none;
    legend {
        background: transparent;
    }
}

.webcam-stream {
    width: 100%;
}

.webcam-stream-unavailable {
    position: relative;
    width: 100%;
    height: 100%;
}

.webcam-stream-unavailable img {
    width: 100%;
    opacity: 0.20;
}

.webcam-stream-unavailable text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
}

.clear-webcam-url-btn {
    position: absolute;
    left: 2rem;
    top: 6.2rem;
}

.webcam-url-input {
    padding-left: 4rem !important;
}

ul {
    padding-left: 15px;
}

.step-drag-ghost-image {
    max-width: 150px;
}

.step-drag-ghost-image-big {
    max-width: 400px;
}

.peripherals-widget,
.tools-widget {
    .widget-content .row {
        margin-bottom: 0.8rem;
    }
}

a {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer !important;
    color: $off_white;
    &:visited {
        color: $off_white;
    }
}

button,
select,
input {
    outline: none !important;
}

input:disabled {
    background: rgba(0, 0, 0, 0.1) !important;
}

ul {
    list-style-type: none !important;
    padding: 0;
}

.devices-pad {
    p,
    button {
        margin-bottom: 1rem !important;
    }
}

.select {
    position: relative;
    input {
        height: 30px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 3rem !important;
    }
    .select-results-container {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        &.is-open-false {
            display: none;
        }
        &.is-open-true {
            display: block;
        }
    }
    .select-result {
        background: $off_white;
        padding: 0.2rem 0 0.2rem 1.4rem;
        border-bottom: 1px solid $gray;
        cursor: pointer;
        &:hover {
            background: $light_gray;
        }
        &.is-hidden {
            display: none;
        }
        &.is-header {
            text-transform: uppercase;
            padding-left: 1rem;
            border-bottom: none;
            pointer-events: none;
            label {
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 0px;
            }
        }
        label {
            margin-top: 0 !important;
            text-transform: none;
            font-weight: normal;
            cursor: pointer;
        }
    }
}

@keyframes page-transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}