.image-flipper {
    margin-top: 2rem;
}

.image-flipper-image {
    width: 100%;
    min-height: 100px;
    max-height: 450px;
}

.image-flipper-left {
    position: absolute;
    left: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

;
.image-flipper-right {
    position: absolute;
    right: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }
}