// Partials
@import "colors";
@import "fonts";
// Global
@import "global";
// Components
@import "blocks";
@import "buttons";
@import "devices";
@import "events";
@import "farm_designer";
@import "front_page";
@import "inputs";
@import "labels";
@import "navbar";
@import "regimen_editor_widget";
@import "status_ticker";
@import "steps";
@import "tables";
@import "toastr";
@import "tooltips";
@import "tools";
@import "weed_detector";
@import "widget_move";
@import "widget_tool_control";
@import "widgets";
// Node Modules
@import "../../node_modules/react-select/dist/react-select.css";
@import "../../node_modules/rc-slider/assets/index.css";