// Styles for INPUTS

@import 'colors';

input {
  font-size: 1.2rem;
  color: $dark_gray;
  height: auto;
  width: 100%;
  border: 0;
  padding: 6px 8px;
  box-shadow: 0px 0px 10px $light_gray;
  &:focus {
    background-color: $white;
    box-shadow: 0px 0px 10px $translucent;
  }
}

select {
  border: none;
  padding: 7px;
  background: $white;
}
