// Styles for the interactive map

@import 'colors';

.farm-designer-map {
  background-color: $brown;
}

.drop-area {
// Light grid lines every 10px, heavier grid every 100px
  background-image:
    linear-gradient(rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,0.05) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 2px, transparent 2px);
  background-size:10px 10px, 10px 10px, 100px 100px, 100px 100px;
}
