// Styles for the Farm Designer Plants Panel

@import 'colors';
@import 'fonts';

.plantCatalogTile{
  cursor: pointer;
}

.plus-circle{
  border-radius: 50%;
  width: 52px;
  height: 52px;
  padding: 13px;
  font-family: FontAwesome;
  color: $off_white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  &:after {
    content: '\f067';
  }
}

  .farm-designer-body {
    display: flex;
    flex-direction: column;
  }

  .farm-designer-left {
    order: -1;
    background-color: $light_green;
  }
  .farm-designer-body {
    flex-direction: row;
    flex: 1;
  }
  .farm-designer-middle {
    flex: 1;
    background-color: $brown;
  }
  .farm-designer-left, .farm-designer-right {
    /* 12em is the width of the columns */
    flex: 0 0 20em;
  }
  .farm-designer-right {
    background-color: $light_purple;
  }

.farm-designer {
  display: flex;
  flex-direction: column;
  .calendar{
    padding-top: 10px;
  }
  .garden-view {
  }
  margin-top: -4px;
  .search-box-wrapper {
    padding: 6px;

    p {
      color: $light_gray;
      margin: auto 0 auto 0;
    }
    a {
      color: $light_gray;
      margin: 2px;
    }
  }
  .search {
    &::-webkit-input-placeholder { color: $light_gray; }
    &:-moz-placeholder { color: $light_gray; }
    &::-moz-placeholder { color: $light_gray; }
    &:-ms-input-placeholder { color: $light_gray; }
    color: $light_gray;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $light_gray;
    margin: 0 auto 9px auto;
    padding: 10px 0px 5px 0px;
    width: 90%;
  }
  .tabs{
    display: table;
    width: 100%;
    list-style: none;
    a { color: $light_gray; }
    li {
      display: table-cell;
      text-align: center;
      text-transform: uppercase;
      color: $light_gray;
      font-family: Arial, Helvetica, sans-serif;
    }
    .active {
      color: $light_gray;
      border-bottom: 3px solid $light_gray;
      font-weight: bold;
    }
  }
  .crop-inventory {
    a {
      color: $dark_gray;
      font-style: none;
      text-decoration: underline;
      font-size: 1rem;
    }
    font-style: italic;
    font-size: 0.71rem;
    background-color: $light_green;
    color: $dark_gray;
    margin: 0 0 0 0;
  }
}

.plant-block {
  @extend %extend_1;
  padding-top: 0;
  &:hover {
    @extend %extend_2;
  }
}
