// Styles for Search Bars

@import 'colors';

input {
  &.search {
    background-color: transparent!important;
    box-shadow: none;
    width: 85%;
    &::-webkit-input-placeholder {
      color: $dark_gray;
    }
    &:-moz-placeholder {
      color: $dark_gray;
    }
    &::-moz-placeholder {
      color: $dark_gray;
    }
    &:-ms-input-placeholder {
      color: $dark_gray;
    }
  }
}

.search-underline {
  border: 1px solid $dark_gray;
  border-top-width: 0px;
  height: 3px;
  margin-top: -5px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.fa-search {
  margin-left: 1rem;
  margin-right: 0.2rem;
}
