// CSS for the Status Ticker in the main nav

@import 'colors';

.status-ticker-wrapper {
  margin: 1.5rem 3rem;
  display: inline-block;
  float: left;
}

.status-ticker-light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  background: $green;
}

.status-ticker-message {
  color: $off-white;
  margin-bottom: 0px;
  margin-left: 15px;
  line-height: 20px;
}

.status-ticker-message span {
  -webkit-animation: flash 1.5s ease-in;
  animation: flash 1.5s ease-in;
}

@keyframes flash {
   0% {text-shadow: white 0px 0px 10px;}
   100% {text-shadow: none;}
}
