// Styles for ALL STEPS

@import 'colors';

.step-wrapper {
  box-shadow: 0px 0px 10px $gray;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .step-wrapper {
    margin-bottom: 1.5rem;
  }
}

.step-header {
  letter-spacing: .05rem;
  padding: .75rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  ::-webkit-input-placeholder {
    color: $dark_gray;
    font-weight: bold;
    text-transform: uppercase;
  }
  ::-moz-placeholder {
     color: $dark_gray;
     font-weight: bold;
     text-transform: uppercase;
  }
  :-ms-input-placeholder {
     color: $dark_gray;
     font-weight: bold;
     text-transform: uppercase;
  }
  input {
    width: auto;
    padding: 0rem;
    background-color: transparent;
    box-shadow: none;
    color: $dark_gray;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    font-style: italic;
  }
  &.move-relative-step {
    background: $green;
  }
  &.move-absolute-step {
    background: $blue;
  }
  &.write-pin-step {
    background: $orange;
  }
  &.read-pin-step {
    background: $yellow;
  }
  &.wait-step {
    background: $brown;
  }
  &.send-message-step {
    background: $red;
  }
  &.execute-step {
    background: $gray;
  }
  &.if-step {
    background: $purple;
  }
}

.step-control {
  margin-top: 0.4rem;
  margin-left: 2rem;
  float: right;
}

.step-content {
  border-color: $light_gray;
  color: $dark_gray;
  padding: 1.25rem 1.25rem 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &.move-relative-step {
    background: $light_green;
  }
  &.move-absolute-step {
    background: $light_blue;
  }
  &.write-pin-step {
    background: $light-orange;
  }
  &.read-pin-step {
    background: $light-yellow;
  }
  &.wait-step {
    background: $light-brown;
  }
  &.send-message-step {
    background: $light-red;
  }
  &.execute-step {
    background: $light-gray;
  }
  &.if-step {
    background: $light-purple;
  }
  input, select {
    margin-bottom: 1.25rem;
    width: 100%;
  }
}
