.toast-container {
    background: #000;
    position: fixed;
    top: 10vh;
    right: 2vw;
    width: 28vw;
    height: 100vh;
    z-index: 9999;
    .toast {
        background: lawngreen;
        height: 10%;
        position: relative;
    }
}

// 100, 655