.widget-wrapper.weed-detector-widget {
    .widget-body {
        background: $off-white;
        padding: 0 15px;
        margin-bottom: 5rem;
        position: relative;
    }
    .rc-slider-track,
    .rc-slider-handle {
        background: $dark-red;
        border: none;
    }
    .widget-header button {
        margin-left: 1rem;
    }
    .temp-plant {
        max-width: 100%;
        margin: 2rem 0;
        padding: 0 1rem;
    }
    .fa-cog {
        float: right;
        color: white;
        font-size: 1.8rem;
        margin-right: 1rem;
        position: relative;
    }
    .additional-settings-menu {
        font-family: $roboto;
        position: absolute;
        z-index: 1;
        top: 3rem;
        right: -2rem;
        background: $light_gray;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 1.4rem;
        border-radius: 0.4rem;
        min-width: 33rem;
        &:after {
            content: "";
            background: $light_gray;
            position: absolute;
            height: 16px;
            width: 16px;
            top: -0.6rem;
            right: 2rem;
            transform: rotate(-45deg);
        }
        label {
            font-size: 1rem;
        }
        input[type="checkbox"] {
            display: inline-block;
            width: inherit;
            margin-left: 1rem;
            vertical-align: top;
        }
    }
}

.weed-detector-meta {
    background: $dark_gray;
    margin-left: -14px;
    margin-right: -14px;
    padding: 0.3rem 2rem 0;
    margin-bottom: -2rem;
    margin-top: 20px;
    label {
        font-weight: normal;
        margin-right: 1rem;
        color: $white;
    }
    span {
        font-weight: bold;
        color: $white;
    }
    .created-at {
        display: inline-block;
    }
    .meta-coordinates {
        float: right;
        display: flex;
        .coordinate:not(:last-of-type) {
            margin-right: 1.8rem;
        }
    }
}

@media only screen and (min-width: 568px) and (max-width: 830px) {
    .additional-settings-menu {
        right: -2rem;
        &:after {
            right: 2rem;
        }
    }
}