.widget-wrapper.weed-detector-widget {
    .widget-body {
        background: $off-white;
        padding: 0 15px;
        margin-bottom: 5rem;
        position: relative;
    }
    .rc-slider-track,
    .rc-slider-handle {
        background: $dark-red;
        border: none;
    }
    .widget-header button {
        margin-left: 1rem;
    }
    .temp-plant {
        max-width: 100%;
        margin: 2rem 0;
        padding: 0 1rem;
    }
    .weed-detector-meta {
        position: absolute;
        left: 15px;
        right: 15px;
        background: $dark-gray;
        padding: 0.3rem 2rem 0;
        label {
            font-weight: normal;
            margin-right: 1rem;
            color: $white;
        }
        span {
            font-weight: bold;
            color: $white;
        }
        .time {
            float: left;
        }
        .location {
            float: right;
        }
    }
    .chrome-picker {
        width: 100% !important;
        margin: 2rem 0 0 !important;
        position: relative !important;
        div:nth-of-type(2) {
            display: none;
        }
        div {
            padding-bottom: 35% !important;
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     border: 2px solid white;
        //     width: 8%;
        //     height: 25%;
        //     top: 20%;
        //     left: 40%;
        //     box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.4);
        // }
    }
    .hue-picker {
        width: 100% !important;
        position: relative !important;
        div div div div {
            width: 0.25rem !important;
            border-radius: 0% !important;
            transform: 'translate(0.125rem, -1px)' !important;
            background-color: black !important
        }
    }
}