// Styles for ALL WIDGETS

@import 'colors';
@import 'fonts';

.widget-wrapper {
  box-shadow: 0px 0px 10px $gray;
  margin-top: 25px;
}

.header-wrapper {
  background: $dark_gray;
  letter-spacing: .05rem;
  padding: .75rem 1rem;
  h5 {
    color: $gray;
    font-size: 1.2rem;
    margin: .25rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    font-style: italic;
  }
}

.content-wrapper {
  background: $off_white;
  border-style: none;
  border-top-width: 0;
  border-color: $light_gray;
  color: $dark_gray;
  padding: 1.25rem;
  &.calendar-wrapper {
    padding-bottom: 20px;
  }
}
