<!--If you're touching this, remember to change webpack config-->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>FarmBot</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100,100italic);
        html {
            height: 100%;
        }
        
        h1,
        h2 {
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            font-weight: 300;
            color: #f4f4f4;
            text-align: center;
            margin: 20px 0 20px;
        }
        
        h1 {
            font-size: 2.5rem;
        }
        
        h2 {
            font-size: 1.5rem;
            margin-bottom: 60px;
        }
        
        img {
            width: 84%;
            max-width: 1200px;
            margin: 0 auto;
            display: block;
        }
        
        a {
            font-size: 0.9rem !important;
            text-transform: uppercase !important;
            text-align: center;
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            font-weight: 700 !important;
            background: transparent;
            display: block;
            border-radius: 5px;
            border: 2px solid #f4f4f4;
            padding: 1rem 1rem;
            color: #ffffff;
            text-decoration: none;
            width: 262px;
            margin: 70px auto 0;
        }
        
        body {
            min-height: 100%;
            padding: 2rem;
            background: linear-gradient(-135deg, #089460, #159ACC);
            background-size: 400% 400%;
            -webkit-animation: BackgroundGradient 30s ease infinite;
            -moz-animation: BackgroundGradient 30s ease infinite;
            animation: BackgroundGradient 30s ease infinite;
        }
        
        @-webkit-keyframes BackgroundGradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        
        @-moz-keyframes BackgroundGradient {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        
        @keyframes BackgroundGradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        
        * {
            outline: none;
        }
    </style>
</head>

<body>
    <div class="content">
        <h1 class="text-center">{{header}}</h1>
        <h2 class="text-center">{{subHeader}}</h2>
        <img src="http://farmbot.io/wp-content/uploads/2014/03/Web-App-on-Different-Devices-1.png">
        <a href="/app/login">{{callToAction}}</a>
    </div>
    <script src="./splash_page.js"></script>
</body>

</html>